@media (min-width: 768px)
{
    .navbar {
        border-radius: 0;
    }
}

body
{
    color: white;
    background-color: #000000;
}

h1, h2, h3, h4, h5,
.navbar-brand
{
    font-weight: 100;
    letter-spacing: 0.08em;
}

.navbar
{
    background-color: #292B36;
    opacity: 0.9;
}

.navbar-default .navbar-brand
{
    color: white;
}

.box
{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 10px;
    margin-bottom: 30px;
    overflow: visible;
    background: black;
    border: 1px solid snow;
    /*-webkit-box-shadow: 1px 1px 1px #e7e7e7;*/
    /*-moz-box-shadow: 1px 1px 1px #e7e7e7;*/
    /*box-shadow: 1px 1px 1px #e7e7e7;*/
}

.box h5
{
    margin: 0px;
    font-weight: 200;
}

.box .content-right
{
    margin-left: 160px;
    position: relative;
    min-height: 150px;
}

.box .title
{
    font-size: 10px;
    font-weight: 500;
}

.box .value
{
    font-size: 18px;
    margin-top: -5px;
    font-weight: 500;
    color: #white;
}

.neutral
{
    color: #46426B;
    font-weight: bold;
}

.ok
{
    color: #5cb85c;
    font-weight: bold;
}

.error
{
    color: #D9534F;
    font-weight: bold;
}