<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>wootstar - Woot Deals Tracker For iPhone</title>
        <link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")">
        <meta name="google-site-verification" content="ugddj4Zrka2XfBmJy2unS9hU1k8zCabkTGPHcU7v5fU" />
    </head>
    <body>

        <section class="r1">
            <div class="content">
                <img src="@routes.Assets.at("images/logo_large.png")">
                <h1><a href="#getwootstar">Now Available for iOS 7</a></h1>
            </div>
        </section>
        <section class="r2">
            <div class="content">
                <img src="@routes.Assets.at("images/devices.jpg")">
                <p>Track Woot deals on your iPad, iPad mini, and iPhone...</p>
                <p>...anywhere, anytime.</p>
            </div>
        </section>
        <section class="r3">
            <div class="content">
                <img src="@routes.Assets.at("images/sites.png")">
                <p>Get all the goodies you want from all the sites you love...</p>
                <p>...including <br>Woot Plus.</p>
            </div>
        </section>
        <section class="r4">
            <div class="content">
                <a id="getwootstar"></a>
                <h1><a href="https://itunes.apple.com/us/app/wootstar-woot-deals/id497312407?mt=8">Get wootstar now.</a></h1>
                <a href="https://itunes.apple.com/us/app/wootstar-woot-deals/id497312407?mt=8"><img src="@routes.Assets.at("images/app_store.png")"></a>
                <h3>For support: <a href="mailto:&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#119;&#111;&#111;&#116;&#115;&#116;&#097;&#114;&#046;&#099;&#111;&#109;">&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#119;&#111;&#111;&#116;&#115;&#116;&#097;&#114;&#046;&#099;&#111;&#109;</a>
            </div>
        </section>

        @*Place all Javascript at the end so page loads faster*@
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25440500-2']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>
    </body>
</html>
